* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.bar1 {
    position: absolute;
    top: 60%;
    left: 30%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar2 {
    position: absolute;
    top: 60%;
    left: 31%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar3 {
    position: absolute;
    top: 60%;
    left: 32%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar4 {
    position: absolute;
    top: 60%;
    left: 33%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar5 {
    position: absolute;
    top: 60%;
    left: 34%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar6 {
    position: absolute;
    top: 60%;
    left: 35%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar7 {
    position: absolute;
    top: 60%;
    left: 36%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar8 {
    position: absolute;
    top: 60%;
    left: 37%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar9 {
    position: absolute;
    top: 60%;
    left: 38%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar10 {
    position: absolute;
    top: 60%;
    left: 39%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar11 {
    position: absolute;
    top: 60%;
    left: 40%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar12 {
    position: absolute;
    top: 60%;
    left: 41%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar13 {
    position: absolute;
    top: 60%;
    left: 42%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar14 {
    position: absolute;
    top: 60%;
    left: 43%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar15 {
    position: absolute;
    top: 60%;
    left: 44%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar16 {
    position: absolute;
    top: 60%;
    left: 45%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar17 {
    position: absolute;
    top: 60%;
    left: 46%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar18 {
    position: absolute;
    top: 60%;
    left: 47%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar19 {
    position: absolute;
    top: 60%;
    left: 48%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar20 {
    position: absolute;
    top: 60%;
    left: 49%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar21 {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar22 {
    position: absolute;
    top: 60%;
    left: 51%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar23 {
    position: absolute;
    top: 60%;
    left: 52%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar24 {
    position: absolute;
    top: 60%;
    left: 53%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar25 {
    position: absolute;
    top: 60%;
    left: 54%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar26 {
    position: absolute;
    top: 60%;
    left: 55%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar27 {
    position: absolute;
    top: 60%;
    left: 56%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar28 {
    position: absolute;
    top: 60%;
    left: 57%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar29 {
    position: absolute;
    top: 60%;
    left: 58%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar30 {
    position: absolute;
    top: 60%;
    left: 59%;
    height: 10px;
    width: 3px;
    background: white;
}
.bar31 {
    position: absolute;
    bottom: 38.6%;
    left: 60%;
    height: 30px;
    width: 3px;
    background: white;
}
.bar32 {
    position: absolute;
    bottom: 38.6%;
    left: 61%;
    height: 50px;
    width: 3px;
    background: white;
}
.bar33 {
    position: absolute;
    bottom: 38.6%;
    left: 62%;
    height: 80px;
    width: 3px;
    background: white;
}
.bar34 {
    position: absolute;
    bottom: 38.6%;
    left: 63%;
    height: 120px;
    width: 3px;
    background: white;
}
.bar35 {
    position: absolute;
    bottom: 38.6%;
    left: 64%;
    height: 170px;
    width: 3px;
    background: white;
}
.bar36 {
    position: absolute;
    bottom: 38.6%;
    left: 65%;
    height: 230px;
    width: 3px;
    background: white;
}
.bar37 {
    position: absolute;
    bottom: 38.6%;
    left: 66%;
    height: 300px;
    width: 3px;
    background: white;
}
.bar38 {
    position: absolute;
    bottom: 38.6%;
    left: 67%;
    height: 380px;
    width: 3px;
    background: white;
}

.triangle {
    position: absolute;
    top: 64%;
    left: 56.7%;
    height: 0;
    width: 0;
    border-bottom: 15px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

p {
    position: absolute;
    top: 68%;
    left: 52%;
    color: white;
    font-family: "cascadia code", Consolas, "Courier New", monospace;
}