* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Verdana', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
}

p {
    font-size: 10px;
    line-height: 10px;
    background: url(stevejobs.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, .02);
}